* {
  padding: 0;
  margin: 0;

  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scrollbar-width: none;

  font-family: 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;

  background-color: #000000;

  overflow-x: hidden;
}