* {
  padding: 0;
  margin: 0;

  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scrollbar-width: none;

  font-family: 'JetBrains Mono', monospace;
}

html {
  scroll-behavior: smooth;

  background-color: #363c51;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}