@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;

  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scrollbar-width: none;

  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Inter', sans-serif;
}

ul {
  padding-left: 1.5rem;
}

html {
  scroll-behavior: smooth;

  background-color: #1f1f1f;
  color: #FFFFFF;

  overflow-x: hidden;
}
