.main {
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  border-color: blue;
  border-width: 0px;
  border-style: solid;
}

.placeholder {
  background-color: white;
  width: 100vw;
  height: 100vh;
  border-color: blue;
  border-width: 0px;
  border-style: solid;
}
