.backgroundImage {
  position: absolute;
  z-index: -98;
  height: 100vh;
  width: 100vw;
  object-fit: cover;

}

.header {
  // z-index: -1;
  position: absolute;

  margin-left: 10vh;
  margin-top: 20vh;

  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-style: italic;
}

.container {
  position: relative;
  height: 500vh;
  // z-index: -2;
}