.backgroundImage {
  position: absolute;
  z-index: -98;
  height: 100vh;
  width: 100vw;
  object-fit: cover;

}

.header {
  // z-index: -1;
  position: absolute;

  margin: 18vh 0;

  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-style: italic;

  text-align: start;

  width: 100vw;
}

.container {
  position: relative;
  height: 300vh;
  background-color: #1f1f1f;
  // z-index: -2;
}

.loadingScreen {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.loadingText {
  font-size: 5rem;
  color: white;
  align-self: center;
}