.window {
  user-select: none;
  opacity: 0;

  background-color: rgba(36, 43, 56, 0.7);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);

  border-radius: 0.5rem;

  width: 20rem;
  height: 20rem;
  // width: 0;
  // height: 0;
}

.windowTitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #343e4f;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.windowTitle {
  color: #a5b0c5;
  font-size: 1rem;
  font-weight: 500;
}

.windowControls {
  display: flex;
  gap: 8px;
}

.windowControl {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #a5b0c5;
}

.windowContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.windowContentInner {
  display: flex;
  flex-direction: column;
  color: #a5b0c5;
  font-size: 0.9rem;
}