.window {
  user-select: none;
  opacity: 0;

  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  border-radius: 0.5rem;

  width: 20rem;
  height: 20rem;
  // width: 0;
  // height: 0;

}

.windowTitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  // background-color: #343e4f;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.windowTitle {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

.windowControls {
  display: flex;
  gap: 8px;
}

.windowControl {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #333333;
}

.windowControlIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.windowContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.windowContentInner {
  display: flex;
  flex-direction: column;
  color: #333333;
  font-size: 1.1rem;
}