.desktop {
    height: 100vh;
    width: 100vw;
    // background-color: transparent;
    z-index: -100;

    outline: solid 0.3rem #ffffff;

    box-sizing: border-box;
}

.image {

    // Disable interaction
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;


    height: 100vh;
    width: 100vw;
    z-index: -99;
    object-fit: cover;
}

.background {
    background: linear-gradient(to right, #66dfd3, #d9dcae 70%);
    // background: transparent;
    height: 100vh;
    width: 100vw;
}